#bar-graph {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    #bar-graph {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 992px) {
    #bar-graph {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    #bar-graph {
        padding-left: 200px;
        padding-right: 200px;
    }
}
