main {
    text-align: center;
}

/*Donate Section*/
#donate > img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portal {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 60px;
    }
}

@media only screen and (min-width: 600px) {
    .portal {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {
    img {
        width: 500px;
    }
}
