img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    padding-left: 30px;
    padding-right: 30px;
}

.contact-info {
    padding-left: 30px;
    padding-right: 30px;
}

.donate-div {
    padding: 40px;
}

/*.flex-box{*/
/*    display: inline;*/
/*}*/

@media only screen and (max-width: 600px) {

}


@media only screen and (min-width: 600px) {
    .contact-info {
        padding-left: 30px;
        padding-right: 30px;
    }

    .donate-div {
        padding: 40px;
    }
}


@media only screen and (min-width: 768px) {
    .contact-info {
        padding-left: 30px;
        padding-right: 30px;
    }
    .donate-div {
        padding: 40px;
    }
}


@media only screen and (min-width: 992px) {
    .contact-info {
        padding-left: 30px;
        padding-right: 30px;
    }
    .donate-div {
        padding: 40px;
    }
}


@media only screen and (min-width: 1200px) {
    h2 {
        padding-top: 30px;
    }
    .contact-info {
        padding-left: 30px;
        padding-right: 30px;
    }
    .donate-div {
        padding: 40px;
    }
}
