img {
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 60px;
    }
}


@media only screen and (min-width: 600px) {
    .first {
        height: 520px;
        width: auto;
        padding: 20px;
    }
    .second {
        height: 280px;
        width: auto;
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .first {
        height: 600px;
        width: auto;
        padding: 20px;
    }
    .second {
        height: 315px;
        width: auto;
        padding: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .first {
        height: 680px;
        width: auto;
        padding: 20px;
    }
    .second {
        height: 350px;
        width: auto;
        padding: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .first {
        height: 780px;
        width: auto;
        padding: 20px;
    }
    .second {
        height: 400px;
        width: auto;
        padding: 20px;
    }
}
