.logo{
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;
    background-image: url('/img/noun_Charity_3028505.png');
    background-position: left;
    background-size: contain;
}
