/*Sections*/
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#project-info {
    padding-left: 20px;
    padding-right: 20px;
}
.impact-div {
    padding: 20px;
}
.donate-div {
    padding-bottom: 40px;
}
#graph-container {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 60px;
    }
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 80px;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 80px;
    }
    #graph-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 100px;
    }
    #graph-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 100px;
    }
    #graph-container {
        padding-left: 200px;
        padding-right: 200px;
    }
}
